html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #EEEEEE;
  height: 100%;
  margin: 0px;
  padding: 0px;
  
}

md-toolbar h1 {
  color: white;
}

#content {
  background-color: #EEEEEE;
}

.card-container {
  margin: 10px 30px 80px 30px;
  padding: 10px;
  background-color: #FAFAFA;
}

.card-container h1 {
	color: #757575;
	text-decoration: none;
	text-align: center;
}
.card {
  padding: 10px;
  margin: 8px;
  background-color: #FAFAFA;
}

.md-icon-button {
  margin: 4px;
}

.progress-top div {
  height: 2px;
}

.md-button.lime500 {
  background-color: #4caf50;
}

.md-icon.gray{
  fill: #8BC34A;
}

.md-icon.white{
  color: white;
}
