html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #EEEEEE;
  height: 100%;
  margin: 0px;
  padding: 0px;
  
}

md-toolbar h1 {
  color: white;
}

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-margin: 5px;
  background-color: #EEEEEE;
}

.card {
	padding: 10px;
	margin: 8px;
  background-color: white;
}
.card h1 {
	color: #FB8C00;
	text-decoration: none;
	text-align: center;
}



.md-icon-button {
  margin: 4px;
}

.material-icons.darkgrey600 {
  color: #212121;
  }