html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #EEEEEE;
  height: 100%;
  margin: 0px;
  padding: 0px;
  
}

md-toolbar h1 {
  color: white;
}

#content {
  background-color: #EEEEEE;
}

.card-container {
  margin: 10px 40px 10px 40px;
  padding: 10px;
  background-color: white;
}

.card-container h1 {
	color: #FB8C00;
	text-decoration: none;
	text-align: center;
}
.card {
  padding: 10px;
  margin: 8px;
  background-color: white;
}

.md-icon-button {
  margin: 4px;
}

.progress-top div {
  height: 2px;
}

.material-icons.darkgrey600 {
  color: #212121;
  }
