<md-content class='md-whiteframe-4dp card'>

<h1>{{title}}</h1>

<md-list ng-controller='categoriasController' ng-cloak ng-init="initFirst()">
  <md-list-item class="md-2-line" ng-repeat="category in categories">
    <div class="md-list-item-text md-whiteframe-2dp card">
      <h3>{{category.name}}</h3>
      <p>{{category.description}}</p>
    </div>
  </md-list-item>
</md-list>




<md-button class="md-fab md-fab-bottom-right" aria-label="Agregar una categoria" ng-click="submitCategory($event)" style='position: fixed'>
	<md-icon md-font-library="material-icons">add</md-icon>
</md-button>
</md-content>